<%= form_with(model: @answer, url: [@question, @answer]) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ans_code %>
    <%= form.text_area :ans_code %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :time_taken %>
    <%= form.number_field :time_taken %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
